<h1>See your list of friends below</h1>
<p><strong>Friends you added</strong></p>
{{#each friends}}
	<div>{{fName}}</div>
</br>
{{/each}}
<p><strong>Friends that added you</strong></p>
{{#each friend2}}
	<div>{{fName}}</div>
</br>
{{/each}}
