<h1>Add Rating</h1>
<form action="/rating" method="post">
	{{message}}
	<div>Title:  <input type="text" name="title" ></div>
	<div>Year: <input type="number"   name="year"></div>
	<div>Rating: <input type="number"   name="newRate"></div>
	<div>      <input type="submit" value="Create!"></div>
</form>
