<h1>Register</h1>
{{#if message}}
{{message}}
{{/if}}
<form action="/register" method="post">
	<div>Username:  <input type="text" name="username" value="" required ></div>
	<div>Password: <input type="password"   name="password" value="" required></div>
	
  <br/>
	<div><input type="submit" value="Register!" onClick="clearField()"></div>
</form>
